body{
    background-color: rgb(166, 202, 166);
    align-items: center;
    justify-content: center;
}
input[type="text"]{
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
input[type="email"]{
    margin-top: 10px;
    margin-bottom: 10px;
}
select{
    margin-top: 10px;
    margin-bottom: 10px;
}
.submit{
    margin-top: 10px;
    margin-bottom: 10px;
}