body{
  
    font-size: large;
    color: black;
}
input[type="text"]{
    width: 150px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

}
input[type="email"]{
    margin-top: 10px;
    margin-bottom: 10px;
}
select{
    margin-top: 10px;
    margin-bottom: 10px;
}
.submit{
    margin-top: 10px;
    margin-bottom: 10px;
}
h2{
    margin-left: 80px;
    margin-top: 10px;
    text-decoration: underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    color: rgba(67, 17, 17, 0.843);
}
.event-form{
    margin-left: 200px;
    margin-right: 400px;
    background-color: rgb(240, 195, 14);
    background-position: center;
    background-size: 150px auto; 
    background-size: contain;
    
}
.drag-and-drop{
    display: flex;
}
.mauve-flower{
	height: 45%;
	width: 25%;
    float: right;
    display: flex;
    margin-left: 450px;
    opacity: 0.5;
    border-radius: 25%;
    
}
.purple-flower{
	height: 45%;
	width: 25%;
    float: right;
    display: flex;
    margin-left: 450px;
    opacity: 0.5;
    border-radius: 25%;
    margin-bottom: 10px;
    
}